
CS-179/Assets/Models/First Person.meta
*.meta
*.meta
*.meta
*.meta
CS-179/Assets/Models/First Person/Animation Controller/Revolver Controller.controller.meta
*.meta
CS-179/Assets/Models/First Person/Axe Animations/Axe Attack.anim.meta
CS-179/Library/CurrentLayout.dwlt
CS-179/Library/expandedItems
CS-179/Library/LastSceneManagerSetup.txt
CS-179/Library/ShaderCache.db
CS-179/Library/shadercompiler-UnityShaderCompiler.exe7.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe6.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe5.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe4.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe3.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe2.log
CS-179/Library/shadercompiler-UnityShaderCompiler.exe1.log
CS-179/Library/ShaderCache/EditorEncounteredVariants
CS-179/Library/SceneVisibilityState.asset
CS-179/Library/LastSceneManagerSetup.txt
CS-179/Library/CurrentLayout.dwlt
CS-179/Library/assetDatabase3
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Turnip_Plant_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Tomato_Plant_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Tomato_Fruit_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Pumpkin_Fruit_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Eggplant_Plant_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Corn_Plant_Albedo.png
CS-179/Assets/Textures/Textures/Cartoon_Farm_Crops_Atlas.png
CS-179/Assets/Textures/Terrain/Trees/leaf 1.psd
CS-179/Assets/Textures/Terrain/Trees/leaf 1 Trans.psd
CS-179/Assets/Textures/Terrain/Trees/leaf 1 S.psd
CS-179/Assets/Textures/Terrain/Trees/leaf 1 N.psd
CS-179/Assets/Textures/Terrain/Trees/bush 2.psd
CS-179/Assets/Textures/Terrain/Trees/bush 2 Trans.psd
CS-179/Assets/Textures/Terrain/Trees/bush 2 S.psd
CS-179/Assets/Textures/Terrain/Trees/bush 2 N.psd
CS-179/Assets/Textures/Terrain/Trees/bush 1.psd
CS-179/Assets/Textures/Terrain/Trees/bush 1 Trans.psd
CS-179/Assets/Textures/Terrain/Trees/bush 1 S.psd
CS-179/Assets/Textures/Terrain/Trees/bush 1 N.psd
CS-179/Assets/Textures/Terrain/Trees/Bark 2.psd
CS-179/Assets/Textures/Terrain/Trees/Bark 2 N.psd
CS-179/Assets/Textures/Terrain/Trees/Bark 1.psd
CS-179/Assets/Textures/Terrain/Trees/Bark 1 N.psd
CS-179/Assets/Textures/Terrain/NewLayer.terrainlayer
CS-179/Assets/Textures/Terrain/NewLayer 2.terrainlayer
CS-179/Assets/Textures/Terrain/NewLayer 1.terrainlayer
CS-179/Assets/Textures/Terrain/Grass/grass plant 3.png
CS-179/Assets/Textures/Terrain/Grass/grass plant 1.png
CS-179/Assets/Prefabs/Terrain/Standard/Turnip_Plant.prefab
CS-179/Assets/Prefabs/Terrain/Standard/Tomato_Plant.prefab
CS-179/Assets/Prefabs/Terrain/Standard/Tomato_Fruit.prefab
CS-179/Assets/Prefabs/Terrain/Standard/Pumpkin_Fruit.prefab
CS-179/Assets/Prefabs/Terrain/Standard/Eggplant_Plant.prefab
CS-179/Assets/Prefabs/Terrain/Standard/Corn_Plant.prefab
CS-179/Assets/Prefabs/Terrain/Level01/Terrain.prefab
CS-179/Assets/Prefabs/Terrain/Level01/Level01_Terrain.asset
CS-179/Assets/Models/TreesModels/RedWood 5_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/RedWood 5_Textures/shadow.png
CS-179/Assets/Models/TreesModels/RedWood 5_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/RedWood 5_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/RedWood 5.prefab
CS-179/Assets/Models/TreesModels/RedWood 4_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/RedWood 4_Textures/shadow.png
CS-179/Assets/Models/TreesModels/RedWood 4_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/RedWood 4_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/RedWood 4.prefab
CS-179/Assets/Models/TreesModels/RedWood 3_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/RedWood 3_Textures/shadow.png
CS-179/Assets/Models/TreesModels/RedWood 3_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/RedWood 3_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/RedWood 3.prefab
CS-179/Assets/Models/TreesModels/RedWood 2_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/RedWood 2_Textures/shadow.png
CS-179/Assets/Models/TreesModels/RedWood 2_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/RedWood 2_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/RedWood 2.prefab
CS-179/Assets/Models/TreesModels/bush 2_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/bush 2_Textures/shadow.png
CS-179/Assets/Models/TreesModels/bush 2_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/bush 2_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/bush 2.prefab
CS-179/Assets/Models/TreesModels/bush 1_Textures/translucency_gloss.png
CS-179/Assets/Models/TreesModels/bush 1_Textures/shadow.png
CS-179/Assets/Models/TreesModels/bush 1_Textures/normal_specular.png
CS-179/Assets/Models/TreesModels/bush 1_Textures/diffuse.png
CS-179/Assets/Models/TreesModels/bush 1.prefab
CS-179/Assets/Meshes/Cartoon_Farm_Crops_Mobile.fbx
CS-179/Assets/Meshes/Cartoon_Farm_Crops.fbx
CS-179/Assets/Materials/World/leaf.mat
CS-179/Assets/Materials/World/bush 2.mat
CS-179/Assets/Materials/World/bush 1.mat
CS-179/Assets/Materials/World/bark 2.mat
CS-179/Assets/Materials/World/bark 1.mat
CS-179/Assets/Materials/Materials/Turnip_Plant.mat
CS-179/Assets/Materials/Materials/Tomato_Plant.mat
CS-179/Assets/Materials/Materials/Tomato_Fruit.mat
CS-179/Assets/Materials/Materials/Pumpkin_Fruit.mat
CS-179/Assets/Materials/Materials/Eggplant_Plant.mat
CS-179/Assets/Materials/Materials/Corn_Plant.mat
CS-179/Assets/Materials/Materials/Cartoon_Farm_Crops_Mobiles.mat
CS-179/Assets/Animations/World/Fence/right_idle.anim
CS-179/Assets/Animations/World/Fence/right_door.anim
CS-179/Assets/Animations/World/Fence/left_idle.anim
CS-179/Assets/Animations/World/Fence/left_door.anim
CS-179/Assets/Animations/World/Fence/hinge_2.controller
CS-179/Assets/Animations/World/Fence/hinge_1.controller
