
CS-179/Assets/Models/First Person.meta
*.meta
*.meta
*.meta
*.meta
CS-179/Assets/Models/First Person/Animation Controller/Revolver Controller.controller.meta
*.meta
CS-179/Assets/Models/First Person/Axe Animations/Axe Attack.anim.meta
CS-179/Library/CurrentLayout.dwlt
CS-179/Library/expandedItems
CS-179/Library/LastSceneManagerSetup.txt
CS-179/Library/ShaderCache.db
